.cta-button {
  padding: 0.5rem 1rem;
  color: var(--color-primary);
  background: var(--color-cta-button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.cta-button:hover {
  color: var(--color-cta-button);
  background: var(--color-primary);
  border: 1px solid var(--color-cta-button);
}

@media screen and (max-width: 360px) {
  .cta-button {
    padding: 0.4rem 0.9rem;
    font-size: 14px;
  }
}
