.modal {
  position: fixed;
  top: 35%;
  left: 32%;
  padding: 20px 180px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-typeslist {
  display: grid;
}

li {
  margin-bottom: 10px;
}

label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}
