.pokemon_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
  background-color: rgba(0, 10, 82, 1);
}

.pokemon_navbar-links {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.pokemon_navbar-links_logo {
  margin-right: 2rem;
}

.pokemon_navbar-links_logo img {
  width: 120px;
  height: 60 px;
}

.pokemon_navbar-links_container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.pokemon_navbar-links_container p,
.pokemon_navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  margin: 0 1rem;
  cursor: pointer;
}

.pokemon_navbar-links_container p.active-link {
  color: #fdd424;
}

.pokemon_navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.pokemon_navbar-menu svg {
  cursor: pointer;
}

.pokemon_navbar-menu_container {
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-subtext);
  padding: 1rem 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.pokemon_navbar-menu_container p {
  margin: 1rem 0;
  color: white;
}

@media screen and (max-width: 1024px) {
  .pokemon_navbar-links_container {
    display: none;
  }

  .pokemon_navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 771px) {
  .pokemon_navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 480px) {
  .pokemon_navbar {
    padding: 1.5em 2.5em;
  }

  .pokemon_navbar-menu_container {
    top: 20px;
  }
}

@media screen and (max-width: 360px) {
  .pokemon_navbar {
    padding: 1rem 2rem;
  }
}
