@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --font-size: 24px;
  --font-family: "Manrope", sans-serif;
  --color-primary: #000a52;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f2f6ff;
  --color-footer: #031b34;
  --color-text: #fff;
  --color-subtext: #22417b;
  --color-cta-button: #fdd424;
}
